/* html {
  padding: 0;
} */

body {
  color: #fefefe;
  font-family: 'Acme', sans-serif;
}

.list-group-item {
  line-height: 1.5;
}

.img-fluid {
  max-height: 300px;
  width: auto;
}

#table-image {
  max-height: 50px;
  width: auto;
}

table {
  margin: 10px;
}
th, td {
  padding: 5px;
  border: 1px solid #999;
}
th {
  background: #ccc;
}
tr:nth-child(odd) {
  background: #eee;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 12% auto; 
  padding: 20px;
  text-align: center;
  border: 4px solid black;
  width: 35%; 
}

.container {
  margin-top: 2%;
}

button {
  background-color: #eee;
  border: 2px solid gray;
  border-radius: 5px;
}

a {
  color: black;
}
#comment-submit {
  background-color:rgb(110, 206, 144);
}

/* .list-group-item {
  background-color:#d8e7e1;
} */

h1, h2, h3, h4, label, .form-group, .list-group-item {
  background-color: transparent;
  /* color: #fefefe;
  font-family: 'Acme', sans-serif; */
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 20px;
}

.form-control {
  background: none;
}

.col-6 {
  text-align: center;
}

#user-name {
  max-width: 80%;
  padding:2%; 
  background-color: transparent;
  font-size: 30px;
  color: #fefefe;
  font-family: 'Acme', sans-serif;
}

.dropdown-menu {
  background-color: transparent;
  color: #fefefe;
  font-family: 'Acme', sans-serif;
  font-size: 17px;
}

.dropdown-item {
  color: #fefefe;
  font-family: 'Acme', sans-serif;
}

.dropdown-item:hover {
  background-color: rgba(128,128,128,.5);
  color: #fefefe;
}

ul {
  color: #fefefe;
}

/* #dropdownMenuLink {
  background: rgba(220, 220, 220, 0.4);
}

.feedgrabbr_widget {
  border-radius: 25px;
} */